profiles {
    cluster {
        apptainer.enabled    = true
        apptainer.autoMounts = true
        apptainer.cacheDir   = '/mnt/lustre/containers/.staging/nf/cache'
        apptainer.runOptions = '-B /mnt/instrument-data'
        docker.enabled       = false
        process.executor     = 'slurm'
        process.queue        = 'cpu'
        process {
            withName: 'DORADO_BASECALLER' {
                cpus             = 8
                memory           = '96 GB'
                accelerator      = 1
                clusterOptions   = '--gres=gpu:1'   // keep count == accelerator/--num-gpus
                queue            = 'gpu'
                containerOptions = '--nv'
                errorStrategy    = 'retry'
                maxRetries       = 2
                time             = '48 h'
            }
            withName: 'DORADO_ALIGNER' {
                queue            = 'gpu'
                clusterOptions   = '--gres=gpu:1'
                containerOptions = '--nv'
                memory = '48GB'
            }
            withName: 'DORADO_TRIM' {
                queue            = 'gpu'
                clusterOptions   = '--gres=gpu:1'
                containerOptions = '--nv'
                memory = '48GB'
            }
            withName: 'SAMTOOLS_(FILTER|FLAGSTAT)' { cpus = 4;  memory = '16 GB' }
            withName: 'NANOPLOT_NANOPLOT' { cpus = 4;  memory = '16 GB' }   
        }
    }
}


process {
    errorStrategy = 'finish'
    withName: 'SAMTOOLS.*' {
        container = 'ghcr.io/eit-gbi/nf-mod-samtools:latest'
        ext.args  = ''
        cpus      = 4
    }
    withName: 'DORADO.*' {
        container = 'ghcr.io/eit-gbi/nf-mod-dorado:latest'
        ext.args  = ''
        cpus      = 4
    }
    withName: 'NANOPLOT.*' {
        container = 'ghcr.io/eit-gbi/nf-mod-nanoplot:latest'
        ext.args  = ''
        cpus      = 4
    }
}